body {
    display: flex;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* header */
.header {
    background-color: #da674a;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 500px;
    font-size: 24px;
    font-weight: 700;
    color: #f9f8fa
}

ul {
    width: 500px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    justify-content: flex-end;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

/* first-layer*/

.first-layer {
    background-image: linear-gradient(#da674a, #ffaa67);
    display: flex;
    justify-content: center;
    padding: 110px;
}

.content {
    color: #e5e7eb;
    font-size: 18px;
    width: 500px;
    height: 333px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-main{
    font-size: 48px;
    font-weight: 800;
    color: #f9faf8
}

.image-placeholder {
    width: 500px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-button {
    border-radius: 5px;
    margin: 8px 0;
    padding: 8px;
    width: 120px;
    background-color: #ffaa67;
    color: #f9f8fa;
    font-weight: 700;
    border: 0;
}

/* second-layer*/

.second-layer {
    background-color: #ffdc7c;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 102px;
}

.cards-header {
    font-size: 36px;
    font-weight: 800;
    color: #2b4d59;
    padding: 64px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 32px;
    color: #2b4d59;
}

img {
    height: 180px;
    width: 180px;
    border-radius: 25px;
}

.text {
    width: 180px;
    text-align: center;
}

/* third-layer */

.third-layer {
    background-color: #39998e;
    display: flex;
    flex-direction: column;
    padding: 62px 300px;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #f9f8fa;
}

.author {
    font-size: 32px;
    font-weight: 700;
    align-self: flex-end;
    color: #f9f8fa;
}

/* fourth-layer */

.fourth-layer {
    /* background-color: #2b4b59; */
    background-image: linear-gradient(#39998e, #2b4d59);
    display: flex;
    justify-content: center;
    padding: 62px;
}

.bottom-container {
    background-color: #39998e;
    color: #f9f8fa;
    border-radius: 25px;
    display: flex;
    padding: 48px 100px;
    gap: 100px;
}

.bottom-button {
    margin: 8px 0;
    padding: 4px;
    width: 120px;
    color: #f9f8fa;
    background-color: #39998e;
    border: 2px solid #f9f8fa;
    border-radius: 5px;
}

.hero-bottom {
    font-size: 24px;
    font-weight: 700;
}

/* footer */

.footer {
    background-color: #2b4d59;
    color: #f9f8fa;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 42px;
}