body {
    display: flex;
    flex-direction: column;
}
/* header */
.header {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 500px;
}

ul {
    width: 500px;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 16px;
    justify-content: flex-end;
}

a {
    text-decoration: none;
}

/* first-layer*/

.first-layer {
    display: flex;
    justify-content: center;
    padding: 110px;
}

.content {
    width: 500px;
    background-color: azure;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hero-main{
    font-size: 48px;
    font-weight: 800;
}

.image-placeholder {
    background-color: bisque;
    width: 500px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    margin: 8px 0;
    padding: 4px;
    width: 120px;
}

/* second-layer*/

.second-layer {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-header {
    font-size: 36px;
    font-weight: 800;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 32px;
}

img {
    height: 180px;
    width: 180px;
}

.text {
    width: 180px;
    text-align: center;
}